.dropdown-toggle {
    height: 70px;
}
.dropdown-menu {
    width: 100%;
}
.dropdown-menu.bg-primary {
    .dropdown-item:hover {
        background-color: #007bff;
    }
}
.dropdown-menu.bg-success {
    .dropdown-item:hover {
        background-color: #28a745;
    }
}
.dropdown-menu.bg-danger {
    .dropdown-item:hover {
        background-color: #dc3545;
        filter: brightness(110%);
    }
}
