.dropdown-toggle {
    height: 70px;
}
.dropdown-menu {
    width: 100%;
}
.dropdown-menu.bg-primary {
    .dropdown-item:hover {
        background-color: #007bff;
    }
}
.dropdown-menu.bg-success {
    .dropdown-item:hover {
        background-color: #28a745;
    }
}
.dropdown-menu.bg-danger {
    .dropdown-item:hover {
        background-color: #dc3545;
        filter: brightness(110%);
    }
}

.menu-column {
    width: calc(100% / 3);
    display: inline-block;
    vertical-align: top;
}

#ingredients-menu {
    display: none;
    width: 100%;
    z-index: 1;
}

#ingredients-menu li {
    cursor: pointer;
    padding: 5px;
}

#ingredients-menu li:hover {
    background-color: #f5f5f5;
}
