.search {
    &__input,
    &__icon {
        background: $gray;
    }

    &__input {
        border-right: unset;
    }

    &__icon {
        border-left: unset;
        border-radius: 5px;
    }
}

/*overwrite bootstrap*/
.input-group {
    height: 70px;
}
.input-group-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unset;
    height: 100%;
    border: unset;
}
.form-control {
    border: none;
    &:focus {
        background: $gray;
        border: none;
        outline: 0;
        box-shadow: none;
    }
}
