$primary: rgba(208, 79, 79, 1); // #D04F4F
$blue: rgba(50, 130, 247, 1); // #3282F7
$green: rgba(104, 217, 164, 1); // #68D9A4
$red: rgba(237, 100, 84, 1); // #ED6454

$grayLight: rgba(229, 229, 229, 1); // #E5E5E5
$gray: rgba(231, 231, 231, 1); // #E7E7E7
$grayDark: rgba(199, 190, 190, 1); // #C7BEBE

$white: rgb(255, 255, 255); // #FFFFFF
$black: rgb(0, 0, 0); // #000000
